/node_modules
/dist
/.env
.DS_Store
/logs
/tmp
*.log
.idea/
.vscode/
*.swp
*.bak
*.tmp
coverage/
*.sqlite3
*.iml
/build/
/out/
/.next/
/.nuxt/
/.parcel-cache/
/.turbo/
/.vercel/
/.expo/
/.expo-shared/
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
/docs
/docs-webhooks
/script_testAWS_BLOG_CREDENTIALS_MIGRATION.md
